* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.main_box {
    background: url("img/photo.jpg");
    background-size: cover;
    height: 100vh;
}

.btn_one {
    
    color: white;
    font-size: 30px;
    position: absolute;
    left: 25px;
    line-height: 70px;
    z-index: 1;
}

.btn_one i {
    background-color: rgba(128, 128, 128, 0.3);
    width: 34px;
    height: 35px;
    border-radius: 10px;
    padding: 7px 0 0 7px;
    cursor: pointer;
    transition: 0.5s;
}

.btn_one i:hover {
    background-color: rgba(128, 128, 128, 0.5);
}

.sidebar_menu {
    position: fixed;
    left: -300px;
    height: 100vh;
    width: 300px;
    background-color: rgba(225, 225, 225, 0.114);
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.271);
    transition: left 0.3s ease;
}

.sidebar_menu .logo {
    position: absolute;
    width: 100%;
    font-size: 25px;
    line-height: 70px;
    left: 75px;
}

.sidebar_menu .logo a {
    color: white;
    text-decoration: none;
}

.sidebar_menu .btn_two {
    color: grey;
    font-size: 20px;
    position: absolute;
    left: 260px;
    line-height: 70px;
    transition: 0.1s;
}

.sidebar_menu .btn_two i{
    cursor: pointer;
    transition: 0.1s;
}

.sidebar_menu .btn_two:hover {
    font-size: 22px;
}

.sidebar_menu .menu {
    position: absolute;
    line-height: 45px;
    top: 95px;
    left: 25px;
    color: white;
    font-size: 20px;
    width: 80%;
}

.sidebar_menu .menu ul {
    list-style: none;
}

.sidebar_menu .menu ul li{
    width: 100%;
    transition: 0.3s;
}

.sidebar_menu .menu ul li a {
    color: white;
    text-decoration: none;
    padding-left: 10px;
    font-weight: lighter;
}

.sidebar_menu .menu ul li:hover {
    padding-left: 10px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.182);
    border-radius: 10px;
}

.sidebar_menu .social_media {
    position: absolute;
    bottom: 30px;
    left: 30%;
}

.sidebar_menu .social_media i {
    color: white;
    opacity: 0.5;
    padding: 5px;
    transition: 0.5;
}

.sidebar_menu .social_media i:hover {
    color: white;
    opacity: 0.9;
    font-size: 20px;
}

#check {
    display: none;
}

#check:checked ~ .sidebar_menu {
    left: 0px;
}